{% extends "template.html" %}

{% block title %}
    Timeline: about us
{% endblock %}

{% block main %}
<h1>The instrument to manage your past! And It Is FREE!</h1>
<br>
<h2>This project has been brought to live by: driftcar10 (github).</h2>
<br>
This is an open source program. So we would be happy if you helped us working on this project.
<br>
Even if you use this program you are supporting us by telling us what can we improve in the existing program.
<br>
Good luck with your past, and keep on typing.
{% endblock %}