{% extends "template.html" %}

{% block title %}
    Timeline: Add Event
{% endblock %}

{% block main %}
<h3>Write day, month as numbers. Example day: 2 month: 12</h3>

<form action="/add" method="post">
	<div>
		<input autocomplete="off" autofocus class="form-control" name="date" placeholder="date" type="date">
	</div>
    <div>
		<input autocomplete="off" class="form-control" name="description" placeholder="what happened" type="text">
	</div>
	<button type="submit"> Add </button>
</form>
{% endblock %}