{% extends "template.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<h2>Welcome to Timeline!</h2>
<br>
<form action="/" method="post">
    <select name="group_by">
        <option value="none">None</option>
        <option value="day">Group by day</option>
        <option value="month">Group by month</option>
        <option value="year">Group by year</option>
    </select>
    <button type="submit"> Group </button>
</form>


<br>
    <table>
        <thead>
            <tr>
                <th>date</th>
                <th>discription</th>
            </tr>
        </thead>
        <tbody>
            {% for event in T_events %}
            <tr>
                    <td>{{event['date']}}</td>
                    <td>
                        <ul>
                            {% for descr in event['events'] %}
                                <li>{{descr}}</li>
                            {% endfor %}
                        </ul>
                    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
{% endblock %}