{% extends "template.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<h2>Welcome to Timeline!</h2>
<br>
<br>
    <table>
        <thead>
            <tr>
                <th>date</th>
                <th>discription</th>
            </tr>
        </thead>
        <tbody>
            {% for event in T_events %}
            <tr>
                    <td>{{event['date']}}</td>
                    <td>{{event['description']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
{% endblock %}