{% extends "template.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
<body class="text-center">
	<form class="form-signin" action="/login" method="post">
		<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

		<label for="usr" class="sr-only">Email address</label>
		<input type="text" id="usr" class="form-control" placeholder="Username" name="username" required autofocus autocomplete="off">

		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required autocomplete="off">

		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	</form>
</body>
{% endblock %}