{% extends "bootstrap/base.html" %}

{%block head%}
    {{super()}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/floppy-disk.ico" rel="icon">
    <title>Timeline: {% block title %}{% endblock %}</title>
{%endblock%}

{% block navbar %}
    <div>
        {% if session.user_id %}
        <ul class="navbar-nav mr-auto mt-2">
            <a class="nav-link" href="/add">Add Event</a>
        </ul>
        {% else %}
        <ul class="navbar-nav ml-auto mt-2">
            <a class="nav-link" href="/register">Register</a>
            <a class="nav-link" href="/login">Log In</a>
        </ul>
        {% endif %}
        
    </div>
{%endblock%}

{%block content%}
    {{super()}}
    <main>
        {% block main %}{% endblock %}
    </main>
    {%block footer%}
        <footer>
            <a href="/about_us">about us</a>
            <h4>This is an open sorce programe.</h4>
        </footer>
    {%endblock%}
{%endblock%}

