<!DOCTYPE html>

<html lang="en">

    <head>
        <link href="/static/floppy-disk.ico" rel="icon">
        <title>Timeline: {% block title %}{% endblock %}</title>

    </head>

    <body>
        <a href="/about_us">about us</a>
        <main>
            {% block main %}{% endblock %}
        </main>
        
    </body>

    <footer>
        <h4>This is an open sorce programe.</h4>
    </footer>

    <div>
        {% if session.user_id %}
        <ul class="navbar-nav mr-auto mt-2">
            <a class="nav-link" href="http://127.0.0.1:5000/add">edit Events</a>
        </ul>
        {% else %}
        <ul class="navbar-nav ml-auto mt-2">
            <a class="nav-link" href="/register">Register</a>
            <a class="nav-link" href="/login">Log In</a>
        </ul>
        {% endif %}
        
    </div>